.form {
  min-height: calc(100vh - var(--fueled-size-nav-height));
  width: 100%;
  background-color: var(--fueled-color-fake-white);
}

.container {
  padding-top: var(--fueled-spacing-xl);
}

.addQuestionButton,
.SaveAndShareButton {
  width: 100%;
}

.addQuestionButton {
  margin-top: var(--fueled-spacing-xl);
}

.SaveAndShareButton {
  margin-top: var(--fueled-spacing-m);
}
