.card {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: calc(var(--fueled-spacing-l) + (var(--fueled-spacing-xxs) / 2))
    var(--fueled-spacing-l) var(--fueled-spacing-l) var(--fueled-spacing-l);
  background: var(--fueled-color-white);
}

.shadow-default {
  box-shadow: var(--fueled-shadow-0);
}

.shadow-1 {
  box-shadow: var(--fueled-shadow-1);
}

.shadow-2 {
  box-shadow: var(--fueled-shadow-2);
}

.shadow-3 {
  box-shadow: var(--fueled-shadow-3);
}

.shadow-4 {
  box-shadow: var(--fueled-shadow-4);
}

.shadow-login {
  box-shadow: var(--fueled-shadow-login);
}

.shadow-flat {
  box-shadow: none;
}
