.nav {
  display: grid;
  grid-template-areas: "logo title auth";
  grid-template-columns: var(--fueled-spacing-xxl) 1fr auto;
  align-items: center;
  height: var(--fueled-size-nav-height);
  width: 100%;
  background-color: var(--fueled-color-primary-500);
}

.logo {
  grid-area: logo;
  margin-left: var(--fueled-spacing-sm);
}

.title {
  grid-area: title;
  text-align: center;
  color: var(--fueled-color-white);
  font-weight: var(--fueled-font-weight-bold);
}

.auth {
  grid-area: auth;
  margin-right: calc(var(--fueled-spacing-l) - var(--fueled-spacing-xxs));
}
