.container {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: var(--fueled-spacing-m);
  width: 100%;
}

.field {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
}

.selectWrapper {
  width: 100%;
  position: relative;
}

.select {
  margin: 0;
  width: 100%;
  border: 1px solid var(--fueled-color-border-gray);
  border-radius: var(--fueled-border-radius-s);
  height: var(--fueled-size-field-height);
  padding: var(--fueled-spacing-m);
  box-sizing: border-box;
  outline: none;
  background-color: var(--fueled-color-white);
  transition: all 200ms ease;
  font: var(--fueled-font-field-label);
  color: var(--fueled-color-black);
  caret-color: var(--fueled-color-primary-500);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  cursor: pointer;
}

.option {
  line-height: var(--fueled-spacing-m);
}

.chevronIcon {
  position: absolute;
  right: calc(var(--fueled-spacing-m) + (var(--fueled-spacing-xxs) / 2));
  transform: translateY(70%);
  pointer-events: none;
}

.disabled .prefixIcon,
.disabled .sufixIcon {
  fill: var(--fueled-color-neutral-300);
}

.disabled .select {
  color: var(--fueled-color-secondary-500);
  opacity: 0.6;
  border-color: var(--fueled-color-border-gray);
  background-color: var(--fueled-color-field-text-disabled-background);
  cursor: unset;
}

.label {
  font: var(--fueled-font-field-label);
  color: var(--fueled-color-black);
  position: relative;
  bottom: var(--fueled-spacing-xs);
}

.supportText {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  transform: translateY(120%);
  margin: 0;
  padding: 0;
  font: var(--fueled-font-field-support);
  color: var(--fueled-color-neutral-600);
}

.disabled .supportText {
  color: var(--fueled-color-neutral-300);
}

.disabled .chevronIcon path {
  fill: var(--fueled-color-neutral-300);
}

.focused .select {
  border-color: var(--fueled-color-red);
}

.error,
.error .supportText,
.error .field .label {
  color: var(--fueled-color-danger-500);
}

.error {
  border-color: var(--fueled-color-danger-500);
}

.error.focused {
  border-color: var(--fueled-color-danger-600);
}

.error .field .select {
  border-color: var(--fueled-color-danger-500);
  caret-color: var(--fueled-color-danger-500);
}
